*{margin: 0;padding: 0;}

.hero{
     width: 70vw;
     height: 100%;
     padding: 20px;
    margin: auto;
}
body{
    background-color: blueviolet;
   

}
.blog{
    background-color: antiquewhite;
    border: 1px solid black;
    margin: 0px 50px 20px 50px;
    padding: 20px;
    border-bottom: 20px solid black;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 2px 2px 20px black;
}